OAUTH2_CLIENT_ID=replace-with-client-id
OAUTH2_CLIENT_SECRET=replace-with-client-secret
OAUTH2_SCOPE=replace-with-scope/.default
OAUTH2_TOKEN_URL=https://login.microsoftonline.com/replace-with-tenant-id/oauth2/v2.0/token

MTLS_CERTIFICATE_PATH=replace-with-client-certificate-pfx-path
MTLS_CERTIFICATE_PASSWORD=replace-with-client-certificate-password

APIM_SUBSCRIPTION_KEY=replace-with-subscription-key
