OAUTH2_CLIENT_ID=replace-with-client-id
OAUTH2_CLIENT_SECRET=replace-with-client-secret
OAUTH2_SCOPE=replace-with-scope/.default
OAUTH2_TOKEN_URL=https://login.microsoftonline.com/replace-with-tenant-id/oauth2/v2.0/token

APIM_SUBSCRIPTION_KEY=replace-with-subscription-key
